.column {
  background-color: #FFFFFF;
  border-left: 1px solid #000000;
}

.column-backlog {
  background-color: #EEEEEE;
}

div.task {
  border: 1px solid #000000;
  background-color: #FFFFFF;
  border-left: 20px solid #000000;
  color: #000000;
}

.column-backlog > div.task {
  border: 1px solid #000000;
  background-color: #FFFFFF;
  border-left: 20px solid #000000;
  color: #000000;
}

.column > div.column-title {
  color: #000000;
  font-size: 20px;
}

.column-backlog > div.column-title {
  color: #000000;
  font-size: 20px;
}

button {
  background-color: #EEEEEE;
  border: 1px solid #000000;
  color: #000000;
  font-size: 14px;
}

div.task.important {
  border-color: #880000;
}

div.task.important > button {
  background-color: #ffffff;
  border: 1px solid #880000;
  color: #880000;
  font-size: 14px;
}
