.column {
  background-color: #000000;
  border-left: 1px solid #EF7500;
}

.column-backlog {
  background-color: #111111;
}

div.task {
  border: 1px solid #EF7500;
  background-color: #111111;
  border-left: 20px solid #EF7500;
  color: #FFFFFF;
}

.column-backlog > div.task {
  border: 1px solid #EF7500;
  background-color: #111111;
  border-left: 20px solid #EF7500;
  color: #FFFFFF;
}

/* pro 0088FF */

.column > div.column-title {
  color: #EF7500;
  font-size: 20px;
}

.column-backlog > div.column-title {
  color: #EF7500;
  font-size: 20px;
}

button {
  background-color: #333333;
  border: 1px solid #EF7500;
  color: #EF7500;
  font-size: 14px;
}