.column {
  background-color: #FFFFFF;
  border-left: 1px solid #0055FF;
}

.column-backlog {
  background-color: #EEEEEE;
}

div.task {
  border: 1px solid #0055FF;
  background-color: #EEEEEE;
  border-left: 20px solid #0055FF;
  color: #000000;
}

.column-backlog > div.task {
  border: 1px solid #0055FF;
  background-color: #EEEEEE;
  border-left: 20px solid #0055FF;
  color: #000000;
}

.column > div.column-title {
  color: #0055FF;
  font-size: 20px;
}

.column-backlog > div.column-title {
  color: #0055FF;
  font-size: 20px;
}

button {
  background-color: #f5f5f5;
  border: 1px solid #0055FF;
  color: #0055FF;
  font-size: 14px;
}

div.task.important {
  border-color: #CC22CC;
}

div.task.important > button {
  background-color: #f5f5f5;
  border: 1px solid #CC22CC;
  color: #CC22CC;
  font-size: 14px;
}
